.header ul {
    list-style: none;
    margin-top: 0px;
}
.header {
    margin-top : 10px;   
    position: fixed;
    width: 100%; 
    left: 0px;
    top: 0px;
}

.header li {
    float: right;
    padding: 20px 25px 10px 10px;
 }
li a img{
    margin-bottom: 10px;
} 

li a {
    text-decoration: none;

}

.body{
    text-align: center;
    margin : 150px;
    font-family: Arial, sans-serif;
}
.google {
    font-size: 100px;
      
}
#blue {
    color: blue;
}
#red {
    color: red;
}
#yellow {
    color: yellow;
}
#green {
    color: green;
}
input{
    width: 500px;
    height: 40px;
    font-size: 1.0em;

}
button{
    width: 150px;
    height: 30px;
    border-style: none;
    color:grey;
    
}
p a {
    text-decoration: none;
    padding: 10p
    x 10px 10px 10px;
}

.footer{
    background-color: silver;    
}
.footer p{
    padding: 10px;  
}
#lowerfooter {
    padding: 0px 10px 40px 10px;   
}

#rightfooter li {
    list-style: none;
    float: right;
    margin: 0px 10px 10px 10px;
}

#leftfooter li {
    list-style: none;
    float: left;
    margin: 0px 10px 10px 10px;
}